/*!
 * profile.css
 * Author: Cong Bao
 * Date: 15 April, 2017
 */

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #6c6c6c;
}

.panel-default {
	color: #6c6c6c;
	border-color: #6c6c6c;
}

.panel-default > .panel-heading {
	color: #fff;
	background-color: #6c6c6c;
	border-color: #6c6c6c;
}

.btn-primary {
	background-color: #6c6c6c;
    border-color: #6c6c6c;
}

.btn-primary:hover {
	background-color: #555753;
}

.btn-primary[disabled]:hover {
    background-color: #6c6c6c;
}